<header class="header">
  <div class="header__left">
    <a href="{{ site.url }}/index.html">
      <img src="{{ site.url }}/images/textlogo.png">
    </a>
  </div>
  <div class="header__right">
    <nav class="menu">
      <div class="modal__btn"></div>
      <ul class="top">
        {% for item in site.data.menu %}
          {% if item.dropdown %}
            <li class="dropdown">{{ item.title }}
              <ul>
                {% for drop in item.dropdown %}
                  <li>
                    {% assign i = forloop.index0 %}
                    <a href="{{ site.url}}/{{ item.dropdown[i].url }}">{{ item.dropdown[i].title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ site.url}}/{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
          <li>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>