a {
  font-style: italic;
  color: #2b1547;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
  cursor: pointer;
  font-size: 1em;
  box-shadow: inset 0 0px 0 #fff, inset 0 -1px 0 #ffba49;
}
a:hover {
  color: #ffba49;
  background-color: #2b1547;
}
.form a {
  position: initial;
  text-decoration: none;
  display: block;
  color: #000;
  padding: 0;
  -webkit-transition: none;
  transition: none;
}
.form a:hover {
  color: #fff;
}
.form a:after {
  content: none;
}
a.button_link {
  font-style: normal;
  box-shadow: none;
  text-decoration: none !important;
}
