.news .head {
  padding: 40px 0 0 0;
  background-color: #2b1547;
  position: relative;
}
.news .head h1 {
  display: block;
  margin: 0 auto;
  font-size: 4em;
  color: #ffba49;
  line-height: 3em;
  max-width: 680px;
  padding: 0 20px;
}
.news .post {
  margin: 100px auto;
}
.news .post h2 {
  margin-bottom: 30px;
  position: relative;
  display: block;
  line-height: 1em;
}
.news .post h2:after {
  content: url("../images/smallicon.svg");
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: auto;
}
.news .post button {
  max-width: 200px;
  margin: 30px 0 0 0;
}
