<!DOCTYPE>
<html lang="pt-br">
{% include head.html %}

<body>
  {% include header.html %}

  <div class="posts">
    <section class="post">
      <a class="link_return" href="{{ site.url }}/noticias.html" title="notícias">voltar</a>
      <h2 class="subtitle">{{ page.title }}</h2>
      <div class="text">
        {{ content }}
      </div>
    </section>
  </div>

  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="{{ site.url }}/js/main.js"></script>
</body>

</html>